Calender and image/.vs/Calender and image/config/applicationhost.config
Sessions/.vs/Sessions/config/applicationhost.config
Multiple pages and cookies/.vs/Multiple pages and cookies/config/applicationhost.config
